@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="account-title">Manage your account</h1>

<div class="profile">
    <h2 class="profile__header">Change your account settings</h2>
    <div class="profile__options">
        <div class="profile__links">
            <partial name="_ManageNav" />
        </div>
        <div class="profile__form">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
