@page
@model Projekt.Pages.AddOffer.AddOfferModel
@{
}
<div>
   <form method="post" enctype="multipart/form-data">
       <label>Name</label>
        <input asp-for="Offer.Name" />
       <label>Location</label>
        <input asp-for="Offer.Location" />
       <label>Description</label>
        <input asp-for="Offer.Description" />
        <input asp-for="Offer.Date" type="date" />
        <input  asp-for="UploadedFile" />
        <button type="submit">Zatwierdz</button>

        <select asp-for="Category1Id" asp-items="@(new SelectList(Model.Categories.Categories, nameof(Model.Category1.Id), nameof(Model.Category1.Name)))">
            <option>choose one</option>
        </select>
       
        <select asp-for="Category2Id" asp-items="@(new SelectList(Model.Categories.Categories, nameof(Model.Category2.Id), nameof(Model.Category2.Name)))">
            <option>choose one</option>
        </select>        

   </form>
</div>