@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">
    <table class="table">
        <td class="table__cell">
            Wydział Informatyki Politechniki Białostockiej<br>
            Przedmiot:<br>
            Programowanie aplikacji WWW w technologii .NET<br>
            Temat projektu: Rzeczy do oddania
        </td>
        <td class="table__cell">
            Data realizacji:<br> 01.06.2022r.
        </td>
        <td class="table__cell">
            Uczestnicy projektu:<br>
            - Filip Białowąs<br>
            - Adam Brzozowski<br>
            - Łukasz Bańkowski
        </td>
        <td class="table__cell">
            Prowadzący:<br>
            mgr inż. Izabela Kartowicz-Stolarska
        </td>
    </table>
    <div class="summary__wrapper">
        <div class="summary">
            <h1 class="summary__header">Wykonane funkcjonalności:</h1>
            <p class="summary__item"> - Profil użytkownika (całość)</p>
            <p class="summary__item"> - Oferta (całość za wyjątkiem zgłaszania zainteresowania ofertą)</p>
            <p class="summary__item"> - Inne (całość)</p>
        </div>
        <div class="summary">
            <p class="summary__item">
                <a href="https://github.com/Fipeek/RzeczyDoOddania">Github</a>
            </p>
            <p class="summary__item">
                <a href="https://github.com/Fipeek/RzeczyDoOddania/tree/master#readme">README</a>
            </p>
            <p class="summary__item">
                <a href="../dokumentacja.pdf" download>Dokumentacja</a>
            </p>
        </div>
    </div>

</div>
