@using Microsoft.AspNetCore.Identity
@using Projekt.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="login">
@if (SignInManager.IsSignedIn(User))
{
    <li class="login__element">
        <a  class="login__link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
    </li>
    <li class="login__element">
        <form class="login__link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="login__logout-button">Wyloguj się</button>
        </form>
    </li>
}
else
{
    <li class="login__element">
        <a class="login__link" asp-area="Identity" asp-page="/Account/Register">Rejstracja</a>
    </li>
    <li class="login__element">
        <a class="login__link" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
    </li>
}
</ul>
