*{
  margin: 0;
  font-family: 'Playfair Display', serif;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none
}

a:any-link{
  color: white;
  text-decoration: none
}

.no-scroll{
  overflow: hidden;
}

body{
  background-color: #E7E3AE;
  min-height: 100vh;
  display:flex; 
  flex-direction:column;
}

.header{
  background-color: #51513D;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.header__container{
  display: flex;
  flex-direction: row;
  align-items:baseline;
}

.header__nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  
}

.header__navlist{
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.header__element{
  all: unset;
}

/* .header__element:hover{
  background-color: #1B2021;
} */

.header__index{
  font-size: 60px;
  text-decoration: none;
  color: white;
}

.header__index:hover{
  color: #E7E3AE;
}

.header__link{
  text-decoration: none;
  color: white;
  background-color: #1b202172;
  padding: 1rem;
  border-radius: 5px;
  transition: 0.1s color;
}

.header__link:hover{
  color: #E7E3AE;
  background-color: #1B2021;
}

.login{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  gap: 2rem;
}

.login__link{
  text-decoration: none;
  color: white;
  padding: 1rem;
  background-color:#1b202179;
  border-radius: 5px;
}

.login__link:hover{
  background-color: #1B2021;
  color: #E7E3AE;
}

.login__link:hover{
  color: #E7E3AE;
}

.login__logout-button{
  all: unset;
  color: white;
}

.main{
  background-color: #E7E3AE;
  padding: 2rem;
}

.footer{
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 2rem;
  margin-top:auto;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #51513D;
} 

.offers{
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  gap: 2rem;
}

.offer{
  width: 25%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #516C4E;
  border-radius: 1rem;
  padding: 2rem;
}

.offer__unactive{
  width: 25%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(112, 114, 108);
  border-radius: 1rem;
  padding: 2rem;
}

.offer:hover{
  cursor: pointer;
  box-shadow: 0px 0px 4px 2px #1B2021;
}

.offers--hidden{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #1b202172;
  cursor: pointer;
}

.offer--expand{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.offer--expand:hover{
  box-shadow: none;
  cursor: auto;
}

.offer--expand .offer__detail{
  width: 40%;
  height: 80%;
}

.offer--expand .offer__image{
  max-height: 550px;
  max-width: 500px;
}

.offer--expand .offer__detail .offer__name{
  font-size: 2.4rem;
}

.offer--expand .offer__detail .offer__category{
  font-size: 1.5rem;
}

.offer--expand .offer__detail .offer__owner{
  display: block;
  font-size: 1.8rem;
}

.offer--expand .offer__detail .offer__date{
  display: block;
  font-size: 1.3rem;
}

.offer--expand .offer__detail .offer__location{
  display: block;
  font-size: 1.3rem;
}

.offer--expand .offer__detail .offer__description{
  display: block;
  font-size: 1.2rem;
  margin-top: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.offer--expand .offer__detail .offer__description::-webkit-scrollbar {
  display: none;
}

.offer__detail{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.offer__name{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.offer__owner{
  display: none;
  font-size: 1.2rem;
}

.offer__date{
  display: none;
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.8;
}

.offer__location{
  display: none;
  font-size: 1rem;
  opacity: 0.8;
}

.offer__description{
  display: none;
}

.offer__image{
  display: flex;
  align-items: center;
  max-width: 300px;
  max-height: 300px;
  min-width: 100px;
  min-height: 200px;
  margin-top: 1rem;
}

.offer__categories{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.offer__category{
  width: fit-content;
  background-color: #1B2021;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  padding: 5px;
}

.account-title{
  font-size: 2rem;;
  font-weight: 700;
  text-align: center;
}

.profile{
  background-color: #516C4E;
  border-radius: 1rem;
  margin: 2rem 0 2rem 0;
  color: white;
  height: 45vh;
  padding: 2rem;
  font-size: 1.3rem;
}

.profile__header{
  margin-bottom: 5rem;
  text-align: center;
}

.profile__links{
  margin-bottom: 1rem;
  width: 30%;
}

.profile__form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.profile__form input{
  all: unset;
  background-color: #1b20213d;
  color: white;
  padding: 0.5rem;
}

.profile__options{
  display: flex;
  flex-direction: row;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  width: 50%;
}

.form__background{
  background-color: #516C4E;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.form__header{
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.form__field{
  width: 400px;
  color: white;
}

.form__input{
  all: unset;
  background-color: #1b20213d;
  color: white;
  padding: 0.5rem;
}

.form__error{
  color: #E15151;
  font-style: italic;
  margin-top: 1rem;
}

.form__submit{
  all: unset;
  background-color: #51513D;
  color: white;
  padding: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 5px;
  height: fit-content;
  cursor: pointer;
}

.form__submit:hover{
  background-color:#1B2021;
}

.search-form{
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.search-form__select-label{
  
}

.search-form__select{
  background-color: #1b202179;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.4rem;
  padding: 0.3rem;
  width: 200px;
}

.search-form__text-input{
  background-color: #1b202179;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.4rem;
  padding: 0.3rem;
  width: 200px;
}

.search-form__submit{
  all: unset;
  background-color: #51513D;
  color: white;
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.search-form__submit:hover{
  background-color:#1B2021;
}

.links{
  list-style-type: none;
  font-weight: 700;
  font-size: 1.5rem;
  width: 50%;
}

.links p{
  margin-bottom: 2rem;
  font-size: 2rem;
}

.links a:hover{
  color: #E7E3AE;
}

.row-wrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.row-wrap input{
  width: 100%;
}

.offer-form{
  height: 100%;
  background-color: #516C4E;
  border-radius: 1rem;
  /* margin: 0.2rem 0 0.2rem 0; */
  color: white;
  padding: 2rem;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.offer-form__input{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.offer-form__input input{
  background-color: #1b202179;
  border: none;
  color: white;
  font-size: 1.3rem;
}

.offer-form__input textarea{
  background-color: #1b202179;
  border: none;
  color: white;
  font-size: 1.3rem;
  resize: none;
}

.offer-form__selects{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.offer-form__select{
  width: 45%;
  background-color: #1b202179;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.4rem;
  padding: 0.3rem;
}

.offer-form__submit{
  all: unset;
  background-color: #51513D;
  color: white;
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.offer-form__submit:hover{
  background-color:#1B2021;
}

.register{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.register button{
  margin-bottom: 1.3rem;
}

.register__checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: white;
  padding-bottom: 2rem;
}

.register__links{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.register__links a:hover{
  color: #E7E3AE;
}

.register__field{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}

.table{
  width: 100%;
}

.table__cell{
  background-color: #1b202179;
  margin: 10px;
  font-size: 1.2rem;
  color: #E7E3AE;
  padding: 1rem;
  text-align: center;
}

.summary{
  background-color: #1b202179;
  font-size: 1.2rem;
  color: #E7E3AE;
  width: fit-content;
  padding: 1rem;
  margin-top: 1rem;
}

.summary__item{
  margin-top: 1rem;
}

.summary__wrapper{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.summary__item a{
  color: #E7E3AE;
  text-decoration: underline;
}